<div class="bookmark" id="contact"></div>
<div class="containerBackground bottom">
    <div class="purpleLine"></div>
    <div class="contactContent">
        <span class="topTitle" data-aos="fade-right">{{changeLang.language === 'eng' ? contentText[0].eng :
            contentText[0].ger}}</span>
        <div class="container">
            <div class="text">
                <h2 data-aos="fade-right">{{changeLang.language === 'eng' ? contentText[1].eng : contentText[1].ger}}
                </h2>
                <span data-aos="fade-right">{{changeLang.language === 'eng' ? contentText[2].eng :
                    contentText[2].ger}}</span>
                <span data-aos="fade-right">{{changeLang.language === 'eng' ? contentText[3].eng :
                    contentText[3].ger}}</span>
            </div>
            <div class="form">
                <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                    <input #name="ngModel" minlength="3" [(ngModel)]="contactData.name" type="text" id="name"
                        data-aos="fade-left" name="name"
                        placeholder="{{changeLang.language === 'eng' ? contentText[4].eng : contentText[4].ger}}"
                        required (blur)="inputName = !name.valid || !name.touched ? false : true; checkValidation()">
                    @if (!name.valid && name.touched) {
                    <img class="inputCheck" src="./../../../assets/img/invalid.png">
                    <span style="margin-top: -42px; color: red;">{{changeLang.language === 'eng' ? contentText[8].eng :
                        contentText[8].ger}}</span>
                    } @else {
                    <img class="inputCheck" src="./../../../assets/img/valid.png" data-aos="fade-left">
                    }
                    <input #email="ngModel" minlength="6" [(ngModel)]="contactData.email" type="email" id="email"
                        data-aos="fade-left" name="email"
                        placeholder="{{changeLang.language === 'eng' ? contentText[5].eng : contentText[5].ger}}"
                        required (blur)="inputEmail = !email.valid || !email.touched ? false : true; checkValidation()"
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    @if (!email.valid && email.touched) {
                    <img class="inputCheck" src="./../../../assets/img/invalid.png">
                    <span style="margin-top: -42px; color: red;">{{changeLang.language === 'eng' ? contentText[9].eng :
                        contentText[9].ger}}</span>
                    } @else {
                    <img class="inputCheck" src="./../../../assets/img/valid.png" data-aos="fade-left">
                    }
                    <textarea #message="ngModel" minlength="5" [(ngModel)]="contactData.message" id="message"
                        data-aos="fade-left" name="message"
                        placeholder="{{changeLang.language === 'eng' ? contentText[6].eng : contentText[6].ger}}"
                        required required
                        (blur)="inputMessage = !message.valid || !message.touched ? false : true; checkValidation()"></textarea>
                    @if (!message.valid && message.touched) {

                    <img class="inputCheck" src="./../../../assets/img/invalid.png">
                    <span style="margin-top: -42px; color: red;">{{changeLang.language === 'eng' ? contentText[10].eng :
                        contentText[10].ger}}</span>
                    } @else {
                    <img class="inputCheck" src="./../../../assets/img/valid.png" data-aos="fade-left">
                    }
                    <div class="policyLine">
                        <div (click)="changePolicy()"
                            [ngStyle]="{'border': checkPolicy === true ? '1px solid #70E61C' : '1px solid #9747FF'}"
                            class="checkPol" data-aos="fade-left">
                            @if (checkPolicy) {<p class="checked">&#10004;</p>}
                        </div>
                        @if (changeLang.language == "eng") {
                        <span (click)="changeLang.changeLink('privacypolicy')" data-aos="fade-left">I've read
                            the&nbsp;<a href="privacypolicy">privacy policy</a>&nbsp;and agree to the processing
                            of my data as outlined.</span>
                        } @else {
                        <span data-aos="fade-left">Ich habe die <a (click)="changeLang.changeLink('privacypolicy')"
                                href="privacypolicy">&nbsp;Datenschutzerklärung&nbsp;</a> gelesen und stimme dieser mit
                            meinen angegeben Daten zu.</span>
                        }
                    </div>
                    <div class="buttonBox" data-aos="zoom-out-up">
                        <input type="submit" class="submitButton" [class.enabled]="!validCheck" [disabled]="!validCheck"
                            value="{{changeLang.language === 'eng' ? contentText[7].eng : contentText[7].ger}}">
                    </div>
                </form>

            </div>
        </div>
    </div>
    @if (success) {
    <div class="success">
        <span>{{changeLang.language === 'eng' ? contentText[11].eng : contentText[11].ger}}</span>
    </div>
    } @else {}
</div>