@import './../../../styles.scss';

.contactContent {
    width: 100%;
    max-width: 1440px;
    @include dFlex($fd: column);
    margin-top: 100px;
}

.bookmark {
    @include freePlacing($t:-80px,$l:0)
}

.purpleLine {
    width: 1800px;
    height: 5px;
    background-color: $colorPurple;
    margin-right: 32px;
    z-index: 4;
    @include freePlacing($t: -450px, $l: -1520px);
}

.container {
    margin-top: 42px;
    width: 100%;
    color: white;
    @include dFlex($jc: space-between, $ai: flex-start);

    >text {
        @include dFlex($jc: flex-start);
    }
}

.text,
form {
    @include dFlex($fd: column, $ai: flex-start);
    width: 100%;
    padding-right: 24px;

    ::placeholder {
        color: white;
        font-family: 'Poppins';
    }
}

h2 {
    @include fontColor($weight: 700, $size: 32px, $liHi: 38.4px);
}

span {
    @include fontColor($weight: 400, $size: 16px, $liHi: 19.2px);
    margin-bottom: 16px;
}

input,
textarea {
    width: 617px;
    border: solid 1px $colorPurple;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    background-color: $mainColor;
    margin-bottom: 20px;
    transition: border .15s ease-in-out;
    color: white;
    scale: 1;
    &:hover {
        border: solid 1px $colorGreen;
    }
}

textarea {
    resize: vertical;
    min-height: 150px;
}

textarea.ng-dirty.ng-touched.ng-invalid {
    border: 1px solid red;
}

textarea.ng-valid {
    border: 1px solid $colorGreen;
}

input.ng-dirty.ng-touched.ng-invalid {
    border: 1px solid red;
}

input.ng-valid {
    border: 1px solid $colorGreen;
}

.bottom {
    height: 50vh !important;
}

.inputCheck {
    @include freePlacing($t: -56px, $l: 630px);
}

.policyLine {
    @include dFlex();
    width: 100%;
    margin-bottom: 32px;
    >span {
        margin-bottom: 0 !important;
    }
}

.checkPol {
    width: 26px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid $colorPurple;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 12px;
    transition: border .15s ease-in-out;
    text-align: center;
    &:hover {
        border: 1px solid $colorGreen !important;
        background-color: #183771;
        ;
    }
}

.checked {
    margin-top: -8px;
    color: $colorGreen;
    font-size: 22px;
}

.buttonBox {
    height: 64px;
    width: 100%;
    text-align: center;
}

.submitButton {
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    border: 0;
    background-color: $colorGreen;
    color: white;
    transition: padding .125s, width .125s ease-in-out !important;
    z-index: 8;
    scale: 1;
    width: 250px !important;
    @include fontColor($weight: 400, $size: 23px, $liHi: 27.6px);
    &:hover {
        cursor: pointer;
        padding: 23px 38px 23px 38px;
        background-color: $colorPurple;
        width: 270px !important;
    }
}

a {
    text-decoration: none;
    color: $colorPurple;
    &:hover {
        text-decoration: underline;
    }
}

.enabled {
    background-color: grey !important;
    transition: none !important;
    &:hover {
        cursor:not-allowed;
        padding: 15px 30px 15px 30px !important;
    }
}

.success {
    opacity: 0;
    position: fixed;
    width: 80%;
    height: 20vh;
    background-color: rgba(255,255,255,0.8);
    border-radius: 8px;
    @include dFlex();
    top: 20%;
    z-index: 20;
    animation: confirm 2s;
    >span {
        font-size: 28px;
        line-height: 36px;
        text-align: center;
        color: $mainColor;
    }
}

@keyframes confirm {
    20% { opacity: 1; };
    80% { opacity: 1; };
    100% { opacity: 0; };
}

@media(max-width: 1500px) {
    .contactContent {
        width: 95%;
        margin-top: -50px;
    }

    input,
    textarea {
        width: 500px;
    }

    .inputCheck {
        @include freePlacing($t: -56px, $l: 517px);
    }

    .bookmark {
        @include freePlacing($t:-200px,$l:0)
    }
}

@media(max-width: 1100px) {
    .contactContent {
        width: 95%;
        margin-top: 50px;
    }

    .bookmark {
        @include freePlacing($t:-100px,$l:0)
    }

}

@media(max-width: 1000px) {
    .contactContent {
        margin-top: 70px;
    }

    .container {
        @include dFlex($fd: column, $jc: center, $ai: center);
    }

     .text,
    form {
        @include dFlex($fd: column, $ai: center);
        
    }

    .text {
        padding-left: 24px;
    }

    .inputCheck {
        @include freePlacing($t: -56px, $l: 250px);
    }

    .purpleLine {
        @include freePlacing($t: 625px, $l: -1520px);
    }

    .bookmark {
        @include freePlacing($t:-50px,$l:0)
    }
}

@media(max-width: 600px) {

    input,
    textarea {
        width: 80%;
        padding: 15px 25px 15px 25px;
    }

    .policyLine {
        flex-direction: column;
        >span {
            text-align: center;
            margin-top: 8px;
        }
    }

    .inputCheck {
        @include freePlacing($t: -56px, $l: 190px);
    }

}

@media(max-width: 500px) {
    .inputCheck {
        @include freePlacing($t: -56px, $l: 150px);
    }

    .bookmark {
        @include freePlacing($t:-50px,$l:0)
    }
}

@media(max-width: 400px) {
    .inputCheck {
        @include freePlacing($t: -56px, $l: 120px);
    }
}

@media(min-width: 3000px) {

    .purpleLine {
        width: 2400px;
        top: -1155px;
        left: -1425px;
    }
}

@media (min-height:1400px) {
    .purpleLine {
        display: none;
    }
}
