@import './../../../styles.scss';

.aboutMeContent {
    position: relative;
    width: 100%;
    max-width: 1440px;
    z-index: 4;
    @include dFlex($ai: center);
    margin-top: -800px;
}

.leftSide {
    margin-top: 128px;
}

.rightSide {
    @include dFlex();
    >img {
        height: 450px;
        border-radius: 50%;
        border: 4px solid $colorGreen;
        z-index: 1;
    }
}

.bookmark {
    @include freePlacing($t:0px,$l:0);
}

// @keyframes fade-in-photo {
//     @include keyframesValue($top: 500px, $left: 0px);
// }

// @keyframes fade-in-line {
//     @include keyframesValue($top: -285px, $left: 1087px);
// }

// @keyframes fade-in-text {
//     to { opacity: 1; }
// }

.greenLine {
    width: 800px;
    height: 5px;
    background-color: $colorGreen;
    margin-right: 32px;
    z-index: 4;
    @include freePlacing($t: -340px, $l: 1135px);
}

.dotBack {
    width:100%;
    text-align: right;
    margin-top: 100px;
}

.purpleDot {
    margin-right: -200px;
}

.topics {
    margin-top: 24px;
    width: 95%;
    @include dFlex($jc: flex-start);
    color: white;
}

.icon {
    padding-right: 32px;
    @include dFlex();

    >img {
        height: 32px;
        transition: height .125s ease-in-out;
        &:hover {
            height: 48px;
        }
    }
}

@media (max-height: 500px) {
    .aboutMeContent {
        margin-top: -100px !important;
    }

    .purpleDot {
        opacity: 0;
    }
}
// @media only screen 
// and (min-device-height : 1000px) 
// and (max-device-width : 1024px)
// and (orientation : portrait) { 

//     .aboutMeContent {
//         margin-top: -1400px !important;
//     }
// }

@media(max-width: 1500px) {
    .leftSide {
        margin-left: 16px;
    }

    .rightSide {
        >img {
            height: 350px;
            margin-right: 32px;
        }
    }

    .greenLine {
        @include freePlacing($t: -340px, $l: 1100px);
    }
}

@media(max-width: 1300px) {
    .aboutMeContent {
        margin-top: -1000px;
    }

    .bookmark {
        @include freePlacing($t:-200px,$l:0);
    }
}

@media(max-width: 1100px) {
    .aboutMeContent {
        margin-top: -500px;
    }

    .bookmark {
        @include freePlacing($t:300px,$l:0);
    }

    .rightSide {
        >img {
            display: none;
        }
    }

    .topics {
        width: 100%;
        margin-right: 32px;
    }

    .leftSide {
        top: 350px;
        left: 0px;
        width: 95%;
        z-index: 3;
    }

    .icon {
        >img {
            &:hover {
                height: 32px;
            }
        }
    }
}

@media(max-width: 800px) {
    .aboutMeContent {
        margin-top: -580px;
    }

    .bookmark {
        @include freePlacing($t:250px,$l:0);
    }
}

@media(max-width: 700px) {
    .aboutMeContent {
        margin-top: -650px;
    }
}

@media(max-width: 600px) {
    .aboutMeContent {
        margin-top: -850px;
    }
}

@media(max-width: 500px) {
    .topics {
        font-size: 12px;
    }

    .leftSide {
            width: 90%;
        >div {
            font-size: 12px;
        }
    }
}

@media(max-width: 700px) {
    .bookmark {
        @include freePlacing($t:200px,$l:0);
    }
}

@media(max-width: 600px) {
    .bookmark {
        @include freePlacing($t:0px,$l:0);
    }
}

@media(max-width: 400px) {
    .aboutMeContent {
        margin-top: -800px;
    }

    .bookmark {
        @include freePlacing($t:100px,$l:0);
    }
}