<div class="containerBackground">

    <div class="aboutMeContent">
        <div class="leftSide" style="padding-left: 16px;">
            <span class="topTitle">{{changeLang.language === 'eng' ? contentText[0].eng : contentText[0].ger}}</span>
            <div style="color:white; margin-top:64px;">{{changeLang.language === 'eng' ? contentText[1].eng :
                contentText[1].ger}}</div>
            <div class="topics">
                <div class="icon">
                    <img src="./../../../assets/icons/icon-location.png">
                </div>
                <span>{{changeLang.language === 'eng' ? contentText[2].eng : contentText[2].ger}}</span>
            </div>
            <div class="topics">
                <div class="icon">
                    <img src="./../../../assets/icons/icon-bulb.png">
                </div>
                <span>{{changeLang.language === 'eng' ? contentText[3].eng : contentText[3].ger}}</span>
            </div>
            <div class="topics">
                <div class="icon">
                    <img src="./../../../assets/icons/icon-puzzle.png">
                </div>
                <span>{{changeLang.language === 'eng' ? contentText[4].eng : contentText[4].ger}}</span>
            </div>
        </div>
        <div class="rightSide">
            <img src="./../../../assets/img/portrait-face.png">
            <div><img class="purpleDot" src="./../../../assets/img/purpleDot2.png"></div>
        </div>

    </div>
    <div class="greenLine">&nbsp;</div>
</div>
<div style="width: 100%; max-width: 1440px;">

</div>