<div class="containerBackground">
    
    <div class="aboutMeContent">
        <div class="leftSide" style="padding-left: 16px;">
            <span class="topTitle">About me</span>
            <div style="color:white; margin-top:64px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime itaque blanditiis
                ducimus illo, autem, nobis pariatur, iure est quaerat ad praesentium. Distinctio explicabo aliquid optio
                debitis eum aut nisi unde!</div>
            <div class="topics">
                <div class="icon">
                    <img src="./../../../assets/icons/icon-location.png">
                </div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, officiis fuga fugiat recusandae aspernatur veritatis, voluptates facere sequi quibusdam aliquid explicabo incidunt! Voluptatibus sed laudantium possimus est eligendi perspiciatis. Praesentium.</span>
            </div>
            <div class="topics">
                <div class="icon">
                    <img src="./../../../assets/icons/icon-bulb.png">
                </div>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsa officiis sequi laudantium quia, doloribus quos atque, nostrum porro accusantium, id iusto consequuntur! Minima sit accusamus aperiam voluptate nisi vel?</span>
            </div>
            <div class="topics" id="mySkills">
                <div class="icon">
                    <img src="./../../../assets/icons/icon-puzzle.png">
                </div>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate saepe beatae earum illo dolores perferendis molestiae! Saepe assumenda, aspernatur odio voluptate labore excepturi molestias. Culpa repellat modi accusamus itaque architecto?</span>
            </div>
        </div>
        <div class="rightSide">
            <img src="./../../../assets/img/portrait-face.png">
            <div><img class="purpleDot" src="./../../../assets/img/purpleDot1.png"></div>
        </div>
        
    </div>
    <div class="greenLine">&nbsp;</div>

 


</div>
<div style="width: 100%; max-width: 1440px;">
    
</div>
