@import './../../../styles.scss';

.portfolioContent {
    width: 100%;
    max-width: 1440px;
    margin-top: -1100px;
    @include dFlex($fd: column);
}

.bookmark {
    @include freePlacing($t:-170px,$l:0)
}

.dotBack {
    width:100%;
    text-align: left;
    margin-top: -100px;
    display: flex;
    justify-content: space-between;
}

.titleBackground {
    background-color: $mainColor;
    z-index: 5;
    padding-left: 32px;
    padding-right: 32px;
}

.showBoard {
    @include dFlex($jc: space-between);
    
}

.preview {
    width: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 40%;
    border: 4px solid $colorGreen;
    @include freePlacing($l: 0, $t: 40px);
    margin-right:16px;
}

.greenLine {
    width: 800px;
    height: 5px;
    background-color: $colorGreen;
    margin-right: 32px;
    z-index: 4;
    @include freePlacing($t: 290px, $l: -1098px);
}

.purpleLine {
    width: 1800px;
    height: 5px;
    background-color: $colorPurple;
    margin-right: 32px;
    z-index: 4;
    @include freePlacing($t: -245px, $l: 450px);
}


.menu {
    @include dFlex($fd: column);
    width: 60%;

}

.collection {
    width: 100%;
    @include dFlex($jc: space-around);
    flex-wrap: wrap;
    rotate: 359deg;
}

@keyframes twist-icons {
    to {opacity: 1; rotate: 0deg;}
}

p {
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 48px;
    @include fontColor($weight: 400, $size: 16px, $liHi: 30px)
}

.details {
    @include dFlex($fd: column);
    margin-top: 32px;
    width: 80%;
    >span {
        margin-bottom: 32px;
        line-height: 30px;
    }
}

.name {
    @include fontColor($weight: 700, $size: 32px, $liHi: 38.4px);
    color: $colorPurple;
}

.info {
    @include fontColor($weight: 400, $size: 23px, $liHi: 27.6px);
    color: $colorGreen;
}

.description {
    @include fontColor($weight: 400, $size: 16px, $liHi: 19.2px);
    color: white;
    font-size: 20px;
}

.btnBox {
    width: 80%;
    margin-top: 100px;
    @include dFlex($jc: space-around);
}

@keyframes fade-in {
    to {opacity: 1; margin-top: 0;}
}

.buttonPurple {
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    border: 2px solid $colorPurple;
    background-color: $colorPurple;
    color: white;
    @include fontColor($weight: 400, $size: 23px, $liHi: 27.6px);
    transition: background-color .15s, border-color .15s ease-in-out;
    margin-top: -64px; 
    &:hover {
        cursor: pointer;
        background-color: $colorGreen;
        border-color: $colorGreen;
    }
}

.buttonBlue {
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    border: 2px solid $colorGreen;
    color: white;
    @include fontColor($weight: 400, $size: 23px, $liHi: 27.6px);
    transition: background-color .15s ease-in-out;
    margin-top: -64px; 
    &:hover {
        cursor: pointer;
        background-color: $colorGreen;
    }
}

.greenDot {
    margin-left: -550px;
    margin-top: -400px;
    height: 1000px;
}

.purpleDot {
    text-align: right;
    margin-right: -400px;
    margin-top: 350px;
    height: 800px;
}

@media(max-width:1400px) {
    p {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media(max-width:1379px) {
    .purpleLine {
       @include freePlacing($t: -225px, $l: 450px);
   }
}

@media(max-width:1300px) {
     .purpleLine {
        @include freePlacing($t: -205px, $l: 450px);
    }
}

@media(max-width:1200px) {
    .preview {
        width: 500px;
        @include freePlacing($t: 64px)
    }

    .purpleLine {
        @include freePlacing($t: -210px, $l: 450px);
    }

    .btnBox {
        margin-top: 150px;
    }
}

@media(max-width:1100px) {
    .portfolioContent {
        margin-top: -1000px;
    }

    .bookmark {
        @include freePlacing($t:-100px,$l:0)
    }

}

@media(max-width:1000px) {
    .portfolioContent {
        margin-top: -550px;
    }

    .showBoard {
        @include dFlex($fd:column, $jc: space-between);
        margin-left: 0;
    }

    .preview {
        top: -12px;
        margin-right: 0;
    }

    .menu {
        margin-top: 32px;
        width: 90%;
    }

    .bookmark {
        @include freePlacing($t:250px,$l:0)
    }

    .purpleDot {
        margin-right: -400px;
        margin-top: 450px;
        height: 600px;
    }
    
    .purpleLine {
        @include freePlacing($t: -207px, $l: 450px);
    }
}

@media(max-width:741px) {
    .purpleLine {
        @include freePlacing($t: -235px, $l: 450px);
    }
}

@media(max-width:730px) {
    .purpleLine {
        @include freePlacing($t: -230px, $l: 450px);
    }
}

@media(max-width:659px) {
    .purpleLine {
        @include freePlacing($t: -230px, $l: 450px);
    }
}

@media(max-width:649px) {
    @keyframes fade-in-right {
        @include keyframesValue($top: -228px, $left: 450px);
    }
}

@media(max-width:600px) {
    .portfolioContent {
        margin-top: -650px;
    }

    .bookmark {
        @include freePlacing($t:150px,$l:0)
    }

    .preview {
        width: 95%;
    }

    .purpleLine {
        @include freePlacing($t: -220px, $l: 450px);
    }

    .details {
        width: 90%;
    }
}

@media(max-width:500px) {

    .greenDot {
        margin-left: -770px;
     }
    .portfolioContent {
        margin-top: -750px;
    }

    .btnBox {
        width: 100%;
        margin-top: 220px;
    }

    .buttonPurple, .buttonBlue {
        padding: 10px 20px 10px 20px;
        @include fontColor($weight: 400, $size: 20px, $liHi: 20.6px);
    }

    .bookmark {
        @include freePlacing($t:100px,$l:0)
    }

    .purpleLine {
        display: none;
    }
}

@media(max-width:450px) {
    .portfolioContent {
        margin-top: -650px;
    }

    .bookmark {
        @include freePlacing($t:200px,$l:0)
    }
}

@media(max-width:439px) {
    .purpleDot {
        margin-right: -450px;
    }

    .btnBox {
        margin-top: 250px;
    }
}

@media(max-width:350px) {
    .portfolioContent {
        margin-top: -500px;
    }    

    .bookmark {
        @include freePlacing($t:380px,$l:0)
    }
}

@media(max-width:347px) {
    .portfolioContent {
        margin-top: -550px;
    }    

    .bookmark {
        @include freePlacing($t:300px,$l:0)
    }
}

@media(min-width: 2600px) {

    .greenLine {
        width: 2000px;
        left: -1700px;
    }

    .purpleLine {
        width: 3300px;
        left: 1200px;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .greenDot {
        opacity: 0;
    }
}
