<div class="containerBackground">
    <div class="bookmark" id="portfolio"></div>
    <img class="greenDot" src="./../../../assets/img/greenDot1.png">
    <div class="portfolioContent">
        <span class="topTitle titleBackground" style="margin-bottom: 100px;">Portfolio</span>
            <p>{{changeLang.language === 'eng' ? contentText[0].eng : contentText[0].ger}}</p>
        <div class="purpleLine">&nbsp;</div>
        <div class="greenLine">&nbsp;</div>
        <div class="showBoard">
            <img class="preview" src="./../../../assets/img/{{activeApp.preview}}">
            <div class="menu">
                <div class="collection">
                    @for(icon of projectDataList.projectList; track icon.name) {
                    <app-my-project [projectCollection]="icon" (changedProject)="updatePreview($event)"></app-my-project>
                    }
                </div>
                <div class="details">
                    <span class="name">{{activeApp.name}}</span>
                    <span class="info">{{activeApp.info}}</span>
                    <div style="height: 100px;">
                        <span class="description">{{changeLang.language === 'eng' ? activeApp.description[0] : activeApp.description[1]}}</span>
                    </div>
                    <div class="btnBox">
                        <a href="{{activeApp.link}}" target="_blank"><div class="buttonPurple">Live test</div></a>
                        <a href="{{activeApp.github}}" target="_blank"><div class="buttonBlue">Github</div></a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <img class="purpleDot" src="./../../../assets/img/purpleDot1.png">
</div>