@import './../../../styles.scss';

.portfolioContent {
    width: 100%;
    max-width: 1440px;
    margin-top: -950px;
    @include dFlex($fd: column);

    >span,
    p {
        @include incoming(fade-in-text);
    }
}

.bookmark {
    @include freePlacing($t:-100px,$l:0)
}

@keyframes slide-in-left {
    to {
        margin-left: 64px;
        rotate: 0deg;
        opacity: 1;
    }
}

@keyframes fade-in-text {
    to {
        opacity: 1;
    }
}

.titleBackground {
    background-color: $mainColor;
    z-index: 5;
    padding-left: 32px;
    padding-right: 32px;
}

.showBoard {
    @include dFlex($jc: space-between);

    >img {
        rotate: -50deg;
        margin-left: -564px;
        @include incoming(slide-in-left, $start: 150px, $end: 300px);
    }
}

.preview {
    width: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 40%;
    border: 4px solid $colorGreen;
    @include freePlacing($l: -64px, $t: 64px)
}

.greenLine {
    width: 800px;
    height: 5px;
    background-color: $colorGreen;
    margin-right: 32px;
    z-index: 4;
    @include freePlacing($t: 290px, $l: -1602px);
    @include incoming(fade-in-left, $start: 150px, $end: 250px)
}

@keyframes fade-in-left {
    @include keyframesValue($top: 290px, $left: -1102px);
}

.purpleLine {
    width: 1800px;
    height: 5px;
    background-color: $colorPurple;
    margin-right: 32px;
    z-index: 4;
    @include freePlacing($t: -210px, $l: 1350px);
    @include incoming(fade-in-right, $start: 200px, $end: 450px);
}

@keyframes fade-in-right {
    @include keyframesValue($top: -210px, $left: 450px);
}

.menu {
    @include dFlex($fd: column);
    width: 60%;

}

.collection {
    width: 100%;
    @include dFlex($jc: space-around);
    flex-wrap: wrap;
    @include incoming(twist-icons, $start: 350px, $end: 450px);
    rotate: 359deg;
}

@keyframes twist-icons {
    to {opacity: 1; rotate: 0deg;}
}

p {
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 48px;
    @include fontColor($weight: 400, $size: 16px, $liHi: 19.2px)
}

.details {
    @include dFlex($fd: column);
    margin-top: 32px;

    >span {
        margin-bottom: 32px;
        @include incoming(fade-in-text);
    }
}

.name {
    @include fontColor($weight: 700, $size: 32px, $liHi: 38.4px);
    color: $colorPurple;
}

.info {
    @include fontColor($weight: 400, $size: 23px, $liHi: 27.6px);
    color: $colorGreen;
}

.description {
    @include fontColor($weight: 400, $size: 16px, $liHi: 19.2px);
    color: white;
    @include incoming(fade-in-text);
}

.btnBox {
    width: 80%;
    margin-top: 64px;
    @include dFlex($jc: space-around);
}

@keyframes fade-in {
    to {opacity: 1; margin-top: 0;}
}

.buttonPurple {
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    border: 2px solid $colorPurple;
    background-color: $colorPurple;
    color: white;
    @include fontColor($weight: 400, $size: 23px, $liHi: 27.6px);
    transition: background-color .15s, border-color .15s ease-in-out;
    margin-top: -64px; 
    @include incoming(fade-in, $start: 0px, $end: 70px);
    &:hover {
        cursor: pointer;
        background-color: $colorGreen;
        border-color: $colorGreen;
    }
}

.buttonBlue {
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    border: 2px solid $colorGreen;
    color: white;
    @include fontColor($weight: 400, $size: 23px, $liHi: 27.6px);
    transition: background-color .15s ease-in-out;
    margin-top: -64px; 
    @include incoming(fade-in, $start: 0px, $end: 70px);
    &:hover {
        cursor: pointer;
        background-color: $colorGreen;
    }
}

.greenDot {
    @include freePlacing($t: -400px, $l: -1000px);
}

.purpleDot {
    @include freePlacing($t: -330px, $l: -900px);
}

@media(max-width:1400px) {
    p {
        padding-left: 16px;
        padding-right: 16px;
    }
}


@media(max-width:1300px) {
    .portfolioContent {
        margin-top: -750px;
    }

    .bookmark {
        @include freePlacing($t:70px,$l:0)
    }
}

@media(max-width:1200px) {
    .preview {
        width: 500px;
        @include freePlacing($l: -64px, $t: 64px)
    }
}

@media(max-width:1000px) {
    .portfolioContent {
        margin-top: 950px;
    }

    .showBoard {
        @include dFlex($fd:column, $jc: space-between);
    }

    .preview {
        top: -12px;
    }

    .menu {
        margin-top: 32px;
        width: 90%;
    }

    .collection {
        @include incoming(twist-icons, $start: 150px, $end: 250px);
    }

    .bookmark {
        @include freePlacing($t:1820px,$l:0)
    }
}

@media(max-width:800px) {
    .portfolioContent {
        margin-top: 1050px;
    }

    .bookmark {
        @include freePlacing($t:1920px,$l:0)
    }
}

@media(max-width:649px) {
    @keyframes fade-in-right {
        @include keyframesValue($top: -228px, $left: 450px);
    }
}

@media(max-width:600px) {
    .preview {
        width: 95%;
        left: -32px;
    }

    .bookmark {
        @include freePlacing($t:1910px,$l:0)
    }
}

@media(max-width:500px) {
    .portfolioContent {
        margin-top: 650px;
    }

    .btnBox {
        width: 100%;
        margin-top: 120px;
    }

    .buttonPurple, .buttonBlue {
        padding: 10px 20px 10px 20px;
        @include fontColor($weight: 400, $size: 20px, $liHi: 20.6px);
    }

    .bookmark {
        @include freePlacing($t:1520px,$l:0)
    }

}

