@import './../../../styles.scss';

.mySkillsContent {
    width: 100%;
    max-width: 1440px;
    @include dFlex($jc: space-between);
}

.bookmark {
    @include freePlacing($t:-100px,$l:0)
}


.leftSide {
    width: 600px;
    @include dFlex($jc: space-evenly);
    flex-wrap: wrap;
    z-index: 1;
}

.rightSide {
    width: 50%;
    height: 600px;
    color: white;
    @include dFlex($fd: column);
    >span {
        margin-bottom: 32px;
        padding-right: 32px;
        background-color: $mainColor;
        z-index: 5;
    }
}

.lowText {
    @include fontColor($weight: 400, $size: 16px, $liHi: 19.2px);
    margin-bottom: 32px;
    text-align: end;
}

p {
    @include fontColor($weight: 700, $size: 32px, $liHi: 38.4px);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 32px;
}

.btnPlace {
    @include freePlacing($t: 12px);
    transition: padding .125s ease-in-out !important;
    &:hover {
        padding: 23px 38px 23px 38px;
    }
}

.text {
    @include dFlex($fd: column, $ai: flex-end);
}

.purpleLine {
    width: 800px;
    height: 5px;
    background-color: $colorPurple;
    margin-right: 32px;
    z-index: 4;
    @include freePlacing($t: -400px, $l: 440px);
}

@media (max-height: 500px) {
    .mySkillsContent {
        margin-top: 1500px !important;
    }

    .leftSide {
        top: -320px !important;
        z-index: 8;
    }

    .text p {
        margin-top: 350px !important;
    }

    .leftSide {
        margin-top: -350px !important;
    }
}

@media(max-width: 1500px) {
    .rightSide {
        margin-right: 32px;
    }
}

@media(max-width: 1300px) {
    .mySkillsContent {
        margin-top: -100px;
    }

    .bookmark {
        @include freePlacing($t:-200px,$l:0)
    }
}

@media(max-width: 1000px) {
    .mySkillsContent {
        margin-top: 600px;
        @include dFlex($fd:column-reverse, $jc: space-between);
    }

    .leftSide {
        width: 95%;
        justify-content: space-evenly;
        margin-top: -450px;
    }
    
    .rightSide {
        width: 95%;
        height: 300px;
        >span {
            margin-bottom: 32px;
            padding-right: 32px;
        }        
    }

    .text {
        z-index: 1;
        align-items: center;
        >p {
            margin-top: 450px;
        }
    }

    .lowText {
        text-align: center;
    }

    .purpleLine {
        @include freePlacing($t: -820px, $l: 580px);
    }

    @keyframes fade-in-right {
        @include keyframesValue($top: -444px, $left: 640px);
    }

    .bookmark {
        @include freePlacing($t:160px,$l:0)
    }
}

@media(max-width: 800px) {
    
    .text {
        @include dFlex($fd: column, $ai: center);
    }

    .lowText {
        text-align: center;
    }

    .rightSide {
        margin-right: 0;
    }

    p {
        text-align: center;
    }
}

@media(max-width: 650px) {
    .mySkillsContent {
        margin-top: 550px;
    }

    .leftSide {
        margin-top: -450px;
    }

    .text {
        >p {
            margin-top: 450px;
        }
    }

    .purpleLine {
        @include freePlacing($t: -850px, $l: 580px);
    }

    .bookmark {
        @include freePlacing($t:150px,$l:0)
    }

}

@media(max-width: 500px) {
    .mySkillsContent {
        margin-top: 250px;
    }

    .bookmark {
        @include freePlacing($t:-150px,$l:0)
    }

    .purpleLine {
        display: none;
    }    
}

@media(max-width: 450px) {
    .leftSide {
        margin-top: -550px;
    }

    .text {
        >p {
            margin-top: 550px;
        }
    }

    .bookmark {
        @include freePlacing($t:-220px,$l:0)
    }
}

@media(max-width: 439px) {
    .mySkillsContent {
        margin-top: 675px;
    }

    .leftSide {
        margin-top: -550px;
    }

    .text {
        >p {
            margin-top: 550px;
        }
    }

    .bookmark {
        @include freePlacing($t:180px,$l:0)
    }
}

@media(max-width: 350px) {
    .mySkillsContent {
        margin-top: 700px;
    }
}