@import './../../../styles.scss';

.mySkillsContent {
    width: 100%;
    max-width: 1440px;
    margin-top: -1100px;
    @include dFlex($jc: space-between);
}

.leftSide {
    width: 600px;
    @include freePlacing($t: 200px);
    @include dFlex($jc: flex-start);
    flex-wrap: wrap;
    z-index: 1;
}

.rightSide {
    width: 50%;
    height: 600px;
    color: white;
    @include dFlex($fd: column);
    @include freePlacing($t: 200px);
    >span {
        margin-bottom: 32px;
        padding-right: 32px;
        background-color: $mainColor;
        z-index: 5;
        @include incoming(fade-in-text);
    }
}

@keyframes fade-in-text {
    to {
        opacity: 1;
    }
}

.lowText {
    @include fontColor($weight: 400, $size: 16px, $liHi: 19.2px);
    margin-bottom: 32px;
    text-align: end;
}

h2 {
    @include fontColor($weight: 700, $size: 32px, $liHi: 38.4px);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 32px;
}

.btnPlace {
    @include freePlacing($t: 12px);
}

.text {
    @include dFlex($fd: column, $ai: flex-end);
    >span, h2 {
        @include incoming(fade-in-text);
    }
}

.purpleLine {
    width: 800px;
    height: 5px;
    background-color: $colorPurple;
    margin-right: 32px;
    z-index: 4;
    @include freePlacing($t: -400px, $l: 1140px);
    @include incoming(fade-in-right);
}

@keyframes fade-in-right {
    @include keyframesValue($top: -400px, $left: 640px);
}

.bookmark {
    @include freePlacing($t: -500px);
}
