@import './../../../styles.scss';

.mySkillsContent {
    width: 100%;
    max-width: 1440px;
    @include dFlex($jc: space-between);
}

.bookmark {
    @include freePlacing($t:-100px,$l:0)
}


.leftSide {
    width: 600px;
    @include dFlex($jc: space-evenly);
    flex-wrap: wrap;
    z-index: 10;
}

.rightSide {
    width: 50%;
    height: 600px;
    color: white;
    @include dFlex($fd: column);
    >span {
        margin-bottom: 32px;
        padding-right: 32px;
        background-color: $mainColor;
        z-index: 5;
    }
}

.lowText {
    @include fontColor($weight: 400, $size: 16px, $liHi: 19.2px);
    margin-bottom: 32px;
    text-align: end;
}

p {
    @include fontColor($weight: 700, $size: 32px, $liHi: 38.4px);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 32px;
}

.btnPlace {
    @include freePlacing($t: 12px);
    transition: padding .125s ease-in-out !important;
    &:hover {
        padding: 23px 38px 23px 38px;
    }
}

.text {
    @include dFlex($fd: column, $ai: flex-end);
    >span {
        font-size: 20px;
        line-height: 30px;
    }
}

.purpleLine {
    width: 800px;
    height: 5px;
    background-color: $colorPurple;
    margin-right: 32px;
    z-index: 4;
    @include freePlacing($t: -455px, $l: 440px);
}

@media(max-width: 1500px) {
    .rightSide {
        margin-right: 32px;
    }
}

@media(max-width: 1300px) {
    .mySkillsContent {
        margin-top: -70px;
    }

    .bookmark {
        @include freePlacing($t:-200px,$l:0)
    }
}

@media(max-width: 1137px) {
    .purpleLine {
        @include freePlacing($t: -415px, $l: 580px);
    }
}

@media(max-width: 1055px) {
    .purpleLine {
        @include freePlacing($t: -450px, $l: 580px);
    }
}

@media(max-width: 1100px) {
    .mySkillsContent {
        margin-top: 50px;
    }

    .bookmark {
        @include freePlacing($t:-50px,$l:0)
    }
}

@media(max-width: 1000px) {
    .mySkillsContent {
        margin-top: 300px;
        @include dFlex($fd:column-reverse, $jc: space-between);
    }

    .leftSide {
        width: 95%;
        justify-content: space-evenly;
        margin-top: -450px;
    }
    
    .rightSide {
        width: 95%;
        height: 300px;
        >span {
            margin-bottom: 32px;
            padding-right: 32px;
        }        
    }

    .text {
        z-index: 1;
        align-items: center;
        >p {
            margin-top: 450px;
        }
    }

    .lowText {
        text-align: center;
    }

    .purpleLine {
        @include freePlacing($t: -820px, $l: 580px);
    }

    .bookmark {
        @include freePlacing($t:-100px,$l:0)
    }
}

@media(max-width: 800px) {
    
    .text {
        @include dFlex($fd: column, $ai: center);
    }

    .lowText {
        text-align: center;
    }

    .rightSide {
        margin-right: 0;
    }

    p {
        text-align: center;
    }
}

@media(max-width: 740px) {
    .purpleLine {
        @include freePlacing($t: -850px, $l: 580px);
    }
}

@media(max-width: 650px) {
    .leftSide {
        margin-top: -450px;
    }

    .text {
        >p {
            margin-top: 450px;
        }
    }
}

@media(max-width: 600px) {
     .purpleLine {
        @include freePlacing($t: -860px, $l: 580px);
    }
}

@media(max-width: 566px) {
    .bookmark {
        @include freePlacing($t:-150px,$l:0)
    }
    
    .purpleLine {
        @include freePlacing($t: -895px, $l: 580px);
    }
}

@media(max-width: 500px) {
    .mySkillsContent {
        margin-top: 300px;
    }

    .purpleLine {
        display: none;
    }    
}

@media(max-width: 450px) {
    .mySkillsContent {
        margin-top: 350px;
    }

    .leftSide {
        margin-top: -550px;
    }

    .text {
        >p {
            margin-top: 550px;
        }
    }

    .bookmark {
        @include freePlacing($t:-120px,$l:0)
    }
}

@media(max-width: 439px) {
    .mySkillsContent {
        margin-top: 350px;
    }

    .leftSide {
        margin-top: -550px;
    }

    .text {
        >p {
            margin-top: 550px;
        }
    }

    .bookmark {
        @include freePlacing($t:-120px,$l:0)
    }
}

@media(min-width: 2350px) {

    .purpleLine {
        width: 2300px;
        left: 1400px;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .purpleLine {
        display: none !important;
    }
}