<div id="top" class="containerBackground">

    <div class="heroContent">
        <div class="mainPic">
            <img class="backDots" src="./../../../assets/img/colorDots1.png">
            <img class="overlay" src="./../../../assets/img/portrait.png">
        </div>
        <div class="textContainer">
            <div class="welcomeText">
                <h2 id="verticalText">{{changeLang.language === 'eng' ? contentText[0].eng : contentText[0].ger}}</h2>
                <div class="nameContainer">
                    <span class="topTitle fontPoppins">Christian Becker</span><br>
                    <span class="jobTitle">{{changeLang.language === 'eng' ? contentText[1].eng : contentText[1].ger}}</span>
                </div>
            </div>
            <a href="#contact"><button class="btnPlace">{{changeLang.language === 'eng' ? contentText[2].eng : contentText[2].ger}}</button></a>
        </div>
    </div>
    <img id="blueBow" src="./../../../assets/img/heroBackground.png">
    <div class="socialIcons" id="aboutMe">
        <div class="purpleLine"></div>
        <div class="iconDots"><img src="./../../../assets/icons/icon-discord.png"></div>
        <div class="iconDots"><img src="./../../../assets/icons/icon-email.png"></div>
        <div class="iconDots"><img src="./../../../assets/icons/icon-linkedin.png"></div>
        <span class="navLink emailAdress">mail&#64;becker-christian.de</span>
    </div>
</div>