<footer>
    <div class="greenLine"></div>
    <div class="footerContent">
        <div class="logo">
            <img src="./../../../../assets/img/title.png">
            <div>
                <a href="imprint"><span class="navLink">{{changeLang.language === 'eng' ? "Imprint" : "Impressum"}}</span></a>
            </div>
        </div>
        <span>&#169; Christian Becker 2024</span>
        <div class="socialIcons">
            <div class="iconDots"><img src="./../../../../assets/icons/icon-discord.png"></div>
            <div class="iconDots"><img src="./../../../../assets/icons/icon-email.png"></div>
            <div class="iconDots"><img src="./../../../../assets/icons/icon-linkedin.png"></div>
        </div>
    </div>
</footer>