<div class="content">
@if(changeLang.language == 'ger') {
    <h1>Impressum</h1><p>Angaben gemäß § 5 DDG</p><p>Christian Becker <br> 
        Odinstr. 7<br> 
        56348 Bornich <br> 
        </p><p> <strong>Vertreten durch: </strong><br>
        Christian Becker<br>
        </p><p><strong>Kontakt:</strong> <br>
        Telefon: 0151-25355755<br>
        E-Mail: <a href='mailto:mail@becker-christian.de'>mail[at]becker-christian.de</a><br></p><br> 
        Impressum vom <a href="https://www.impressum-generator.de">Impressum Generator</a> der <a href="https://www.kanzlei-hasselbach.de/standorte/bonn/" rel="nofollow">Kanzlei Hasselbach, Bonn</a>
         
} @else {
    <h1>Imprint</h1><p>Information in accordance with Section 5 DDG</p><p>Christian Becker <br> 
        Odinstr. 7<br> 
        56348 Bornich <br> 
        </p><p> <strong>Represented by: </strong><br>
        Christian Becker<br>
        </p><p><strong>Contact:</strong> <br>
        phone: 0151-25355755<br>
        email: <a href='mailto:mail@becker-christian.de'>mail[at]becker-christian.de</a><br></p><br> 
        Imprint made by <a href="https://www.impressum-generator.de">Impressum Generator</a> of <a href="https://www.kanzlei-hasselbach.de/standorte/bonn/" rel="nofollow">Kanzlei Hasselbach, Bonn</a>
}

</div>