@import './../../styles.scss';

.content {
    height: 70vh;
    text-align: center;
    margin: 0;
    background-color: $mainColor;
    color: white;
    padding-top: 150px;
    padding-left: 32px;
    padding-right: 32px;
    
}